<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hallucinator"
        tools:targetApi="31">
        <activity
        android:name=".EncoderAndDecoderActivity"
        android:exported="false"
        android:label="@string/navigation_encoder_decoder" />
        <activity
            android:name=".OnlyDecoderActivity"
            android:exported="false"
            android:label="@string/navigation_only_decoder" />
        <activity
            android:name=".OnlyEncoderActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hallucinator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>